* {
    font-family: 'Libre Caslon Text', serif;
}

body {
    margin: 0px;
    background-color: rgb(30, 36, 49);
    color: white;
}

.container {
    background-color: rgb(30, 36, 49);
    padding: 0.1rem;
}

.container p {
    text-align: center;
}

.container h2 {
    text-align: center;
}

.container a {
    color: white;
}

/* Links */

.link {
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    white-space: nowrap;

    transition-duration: 0.3s;

    border: none;
    border-radius: 5px;
}

.main-link, .project-link {
    padding: 0.4em;
}

.main-link {
    font-size: 1.1rem;
    color: white;
}

.main-link:hover {
    background-color: rgb(40, 40, 122);
    color: white;
}

.icon-link img {
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 36px;
    height: 36px;

    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(345deg) brightness(107%) contrast(101%);
}

.icon-link div {
    border-radius: 5px;
    padding: 5px;
    transition-duration: 0.3s;
}

.icon-link:hover {
    background-color: rgb(40, 40, 122);
}

.project-link {
    color: skyblue;
}

.project-link:hover {
    color: skyblue;
    background-color: rgb(40, 40, 122);
}

/* Welcome section */
.welcome-section {
    background: url('resources/background.png');
    background-size: cover;
    background-blend-mode: multiply;
    background-color: gray;
    height: 85vh;

    text-align: center;
    color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-section h1 {
    margin-bottom: 0rem;
    text-align: center;
}

.welcome-section h2 {
    margin-top: 0rem;
}

.welcome-section h3 {
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}

@media (orientation: landscape) {
    .welcome-section p {
        margin-right: 15rem;
        margin-left: 15rem;
    }
}

@media (orientation: portrait) {
    .welcome-section p {
        margin-right: 5rem;
        margin-left: 5rem;
    }
}
  

.main-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-links a {
    color: white;
}

/* projects */
.project-entry-info {
    text-align: center;
    padding: 0rem 0.8rem 0.4rem 0.8rem;
}

.project-button-group {
    align-items: center;
}

.project-button {
    align-self: center;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.project-entry:nth-child(even) { background-color: #171926; }
.project-entry:nth-child(odd) { background-color: #1a1c2b; }

.project-entry {
    display: flex;
    color: white;
}

.project-img {
    min-width: 50vw;
    height: 33.3vh;
    object-fit: cover;
    align-self: center;
}